/* style.css */
.custom-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.swiper-pagination-bullet {
    background: #d3d3d3;
    width: 12px;
    height: 12px;
    opacity: 0.7;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: #6b46c1;
    transform: scale(1.4);
    box-shadow: 0px 4px 6px rgba(107, 70, 193, 0.4);
}
  